.direccionamiento-estrategico {
   .img-mision-vision {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
   }

   .bg-sostenibilidad-empresarial {
      background-color: #f4f4f4;
      height: 400px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: 100%;
      z-index: -1;
   }

   .bg-ambiental {
      background-color: $color__primary;
   }

   .ctn-empresarial {
      background: $color__background-third-primary;
      position: relative;

      .ctn-description {
         width: 75%;
      }

      .triangle {
         border-bottom: 50px solid transparent;
         border-top: 50px solid transparent;
         border-right: 40px solid $color__primary;
         height: 0;
         left: 48.5%;
         position: absolute;
         top: 50%;
         transform: translate(0, -50%);
         width: 0;
      }
   }

   .box-rse {
      border-radius: 30px;
      display: flex;
      height: auto;
      justify-content: center;
      position: relative;
      width: 20%;

      .text-description {
         font-size: 14px;
         padding-left: 25px;
         padding-right: 1px;
         text-align: left;
      }

      .triangle {
         border-bottom: 20px solid transparent;
         border-top: 20px solid transparent;
         border-left: 20px solid $color__primary;
         height: 0;
         left: 0;
         position: absolute;
         top: 50%;
         transform: translate(0, -50%);
         width: 0;

         &.secondary {
            border-left: 20px solid $color__secondary;
         }

         &.third {
            border-left: 20px solid $color__third;
         }

         &.fourth {
            border-left: 20px solid $color__fourth;
         }
      }
   }

   .bg-gestion-comunidad {
      background-repeat: no-repeat;
      background-position: right;
      height: 100%;
      position: absolute;
   }

   .ctn-comunidad {
      .triangle {
         border-bottom: 25px solid transparent;
         border-top: 25px solid transparent;
         border-left: 20px solid $color__secondary;
         height: 0;
         right: -20px;
         position: absolute;
         top: 50%;
         transform: translate(0, -50%);
         width: 0;
         z-index: 1;

         &.third {
            border-left: 20px solid $color__third;
         }
      }
   }

   @media screen and (min-width: 768px) and (max-width: 992px) {
      .bg-gestion-comunidad {
         right: 0;
         width: 50%;
      }
   }

   @media screen and (max-width: 767px) {
      .bg-ambiental {
         background-color: $color__secondary;
      }

      .ctn-empresarial {
         background: unset;
         position: relative;

         .bg-title {
            background-color: $color__third;
         }

         .bg-description {
            background-color: $color__primary;

            .ctn-description {
               width: 95%;
            }
         }

         .triangle {
            border-bottom: 30px solid $color__primary;
            border-left: 40px solid transparent;
            border-right: 40px solid transparent;
            border-top: 0;
            left: 50%;
            top: 35.5%;
            transform: translate(-50%, 0);
         }
      }

      .box-rse {
         width: 100%;
         margin-bottom: 2rem;

         .text-description {
            padding-inline: 1rem;
            text-align: center;
         }

         .triangle {
            border-bottom: 0;
            border-top: 20px solid $color__primary;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            left: 47%;
            top: 100%;
            transform: translate(0, 0);

            &.secondary {
               border-left: 20px solid transparent;
               border-top: 20px solid $color__secondary;
            }

            &.third {
               border-left: 20px solid transparent;
               border-top: 20px solid $color__third;
            }

            &.fourth {
               border-left: 20px solid transparent;
               border-top: 20px solid $color__fourth;
            }
         }
      }

      .bg-gestion-comunidad {
         height: 300px;
         width: 100%;
         position: relative;
      }

      .ctn-comunidad {
         .triangle {
            border-bottom: 0;
            border-top: 20px solid $color__secondary;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            right: 44%;
            top: 99%;
            transform: translate(0, 0);

            &.third {
               border-left: 20px solid transparent;
               border-top: 20px solid $color__third;
            }
         }
      }
   }
}
