.direccionamiento-estrategico {
   .img-mision-vision {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
   }

   .box-rse {
      border-radius: 30px;
      display: flex;
      height: auto;
      justify-content: center;
      position: relative;
      width: 33%;

      .text-description {
         font-size: 14px;
         padding-inline: 15px;
         text-align: left;
      }
   }

   .bg-gestion-comunidad {
      background-repeat: no-repeat;
      background-position: right;
      height: 100%;
      position: absolute;
   }

   .ctn-comunidad {
      .bg-additional {
         background-color: $color__fifth;
      }

      .triangle {
         border-bottom: 25px solid transparent;
         border-top: 25px solid transparent;
         border-left: 20px solid $color__secondary;
         height: 0;
         right: -20px;
         position: absolute;
         top: 50%;
         transform: translate(0, -50%);
         width: 0;
         z-index: 1;

         &.third {
            border-left: 20px solid $color__third;
         }

         &.fourth {
            border-left: 20px solid $color__fourth;
         }
      }
   }

   @media screen and (min-width: 768px) and (max-width: 992px) {
      .bg-gestion-comunidad {
         right: 0;
         width: 50%;
      }
   }

   @media screen and (max-width: 767px) {
      .box-rse {
         width: 100%;
         margin-bottom: 2rem;

         .text-description {
            padding-inline: 1rem;
            text-align: center;
         }
      }

      .bg-gestion-comunidad {
         height: 300px;
         width: 100%;
         position: relative;
         background-position: center center;
      }

      .ctn-comunidad {
         .triangle {
            border-bottom: 0;
            border-top: 20px solid $color__secondary;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            right: 44%;
            top: 99%;
            transform: translate(0, 0);

            &.third {
               border-left: 20px solid transparent;
               border-top: 20px solid $color__third;
            }
         }
      }
   }
}
