main.nuestra-historia {
   .history {
      .line {
         background-color: $color__secondary;
         height: 100%;
         left: 50%;
         padding-inline: 6px;
         position: absolute;
         top: 0;
         width: 0;
      }

      .box-history {
         .year-circle {
            background-color: $color__primary;
            width: 200px;
            height: 300px;
            display: flex;
            align-items: center;
            cursor: pointer;
            justify-content: center;

            &.left {
               border-top-left-radius: 300px;
               border-top-right-radius: 0;
               border-bottom-left-radius: 300px;
               border-bottom-right-radius: 0;

               &.active {
                  border-top-left-radius: 150px;
                  border-top-right-radius: 0;
                  border-bottom-left-radius: 150px;
                  border-bottom-right-radius: 0;
               }
            }

            &.right {
               border-top-left-radius: 0;
               border-top-right-radius: 300px;
               border-bottom-left-radius: 0;
               border-bottom-right-radius: 300px;

               &.active {
                  border-top-left-radius: 0;
                  border-top-right-radius: 150px;
                  border-bottom-left-radius: 0;
                  border-bottom-right-radius: 150px;
               }
            }

            &.active {
               width: 40px;

               span {
                  display: none;
               }
            }
         }

         .information {
            position: absolute;
            top: 0;

            img {
               border-radius: 20px;
            }
         }

         &:last-child {
            .information {
               bottom: 0;
               top: auto;
            }
         }
      }
   }

   @media screen and (max-width: 767px) {
      .history {
         .box-history {
            .year-circle {
               width: 100px;
               height: 200px;

               &.left {
                  border-top-left-radius: 200px;
                  border-bottom-left-radius: 200px;

                  &.active {
                     border-top-left-radius: 50px;
                     border-bottom-left-radius: 50px;
                  }
               }

               &.right {
                  border-top-right-radius: 200px;
                  border-bottom-right-radius: 200px;

                  &.active {
                     border-top-right-radius: 50px;
                     border-bottom-right-radius: 50px;
                  }
               }

               &.active {
                  width: 20px;
               }
            }

            .information {
               font-size: 12px;

               &.right {
                  padding-left: 2rem !important;
                  padding-right: 0.5rem !important;
               }

               &.left {
                  padding-left: 0.5rem !important;
                  padding-right: 2rem !important;
               }

               .display-2 {
                  font-size: 2rem !important;
                  margin-bottom: 0;
               }

               img {
                  border-radius: 20px;
                  width: 150px;
               }
            }
         }
      }
   }
}
