main.products {
   .btn-product,
   .btn-sub-category {
      color: $color__primary !important;
      background-color: $color__third;
      padding: 1rem;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;

      &.active,
      &:hover {
         color: #fff !important;
         background-color: $color__secondary !important;
         border-color: $color__secondary !important;
      }
   }

   .spinner-products {
      .spinner-border {
         height: 7em;
         width: 7em;
      }
   }

   .box-products {
      border: 1px solid #bdbdbd;
      border-radius: 25px;
      padding: 10px;

      table {
         width: 100%;
         table-layout: auto;

         th,
         td {
            white-space: pre-line;
         }
      }
   }

   @media screen and (max-width: 767px) {
      .box-btns {
         display: flex;
         overflow: auto;
      }
   }
}
