main.trabaje-con-nosotros {
   .box-information {
      border-radius: 25px;
      height: 285px;

      ul {
         li {
            &::marker {
               color: $color__third;
               font-size: 1.3rem;
            }
         }
      }
   }

   @media screen and (min-width: 992px) and (max-width: 1199px) {
      .box-information {
         height: 310px;

         ul {
            padding-left: 0;
         }
      }
   }

   @media screen and (min-width: 768px) and (max-width: 991px) {
      .box-information {
         height: 380px;
         padding-inline: 5px;

         ul {
            padding-left: 0;
         }
      }
   }

   @media screen and (max-width: 767px) {
      .box-information {
         height: auto;
         padding-inline: 5px;

         ul {
            padding-left: 0;
         }
      }
   }
}
