header.site-header {
   background-color: $color__secondary-08;
   font-size: 14px;
   padding-top: 30px;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 1000;
   animation: adjust-header 0.3s ease;
   animation-timeline: scroll();
   animation-range: entry 0% cover 10%;
   animation-fill-mode: forwards;

   ul {
      li {
         color: #fff !important;

         a,
         a:visited {
            color: #fff !important;
         }
      }
   }

   .dropdown-menu {
      .dropdown-item {
         color: #747474 !important;
         font-size: 14px;
         margin-bottom: 0.5rem;

         &:hover {
            background-color: $color__secondary;
            color: #fff !important;
         }
      }
   }

   // &.scrolled {
   //    background-color: $color__secondary;
   //    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
   //    transition: background-color 0.3s ease;
   // }

   @media screen and (max-width: 992px) {
      font-size: 20px;

      .offcanvas {
         width: 100%;

         .offcanvas-body {
            background-color: #d9d9d9;

            ul.navbar-nav {
               text-align: center;
               margin-left: 0;

               li {
                  color: $color__primary !important;

                  a,
                  a:visited {
                     color: $color__primary !important;
                  }
               }
            }
         }
      }

      .dropdown-menu {
         background: none;
         border: unset;
         text-align: center;
      }
   }

   @media screen and (max-width: 767px) {
      .custom-logo {
         width: 200px;
      }
   }
}

@keyframes adjust-header {
   0% {
      background-color: $color__secondary-08;
      box-shadow: none;
   }

   100% {
      background-color: $color__secondary;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
   }
}
